<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="redmineEntities" connectionString="metadata=res://*/RedmineModel.csdl|res://*/RedmineModel.ssdl|res://*/RedmineModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.0.102;user id=root;password=sencer;persist security info=True;database=redmine;Convert Zero Datetime=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BugTrackerEntities" connectionString="metadata=res://*/BugTrackerModel.csdl|res://*/BugTrackerModel.ssdl|res://*/BugTrackerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.83;initial catalog=BugTracker;persist security info=True;user id=sa;password=ibsYazilim;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="sshHost" value="192.168.0.102"/>
    <add key="sshUsername" value="redmine"/>
    <add key="sshPassword" value="redmine"/>
    <add key="sshPort" value="22"/>
    <add key="sshRemotePath" value="files/bugtracker.net"/>
    <add key="sshLocalPath" value="c:\Temp"/>
  </appSettings>
  
</configuration>